/**
 * {{ properCase name }} component
 * author: {{ author.name }}
 * email: {{ author.email }}
 */

// Only Client render

import React, { useState, useEffect } from 'react'
//import { useSelector } from 'react-redux'
//import { toJS } from 'immutable'
//import { createStructuredSelector } from 'reselect'
//import { /* your selector */ } from 'path/to/your/selector'

function useMounted() {
  const [mounted, setMounted] = useState(false)
  useEffect(() => setMounted(true), [])
  return mounted
}

export function {{ properCase name }} (props) {
  const isMount = useMounted()
  // const selector = useSelector(createStructuredSelector({
  //  /* your selector */
  // }))

  return (
    <>
      { isMount
        ? (<div>
            {{ properCase name }} component
          </div>)
        : null
      }
    </>
  )
}

export default {{ properCase name }}

